.container {
  margin-top: 150px;
  width: 90%;
  // max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 50px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px; /* Increased space between images */
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 150px;
  height: auto;
  object-fit: contain;
}
